<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>MMORPG - Game of Thrones</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

        <script>
            $(document).ready(function() {
                $('#btnLogin').click(function(){
                    window.location.href = '/';
                })
            });
        </script>
	</head>

	<body class="body-index">

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<form class="form-inline form-entrar">
					<div class="form-group">				
						<button type="button" class="btn btn-success" id="btnLogin">Efetuar Login</button>
					</div>
				</form>
			</div>
			
		</nav>

	    <div class="container">
			<div class="alert alert-success">
                <h2>Cadastro efetuado com sucesso</h2>
                <br />
                <h3>Clique no botão acima para efeutar o LOGIN</h3>
            </div>
	    </div>	
		
	</body>
</html>